
<% provide(:title, 'About') %>

<div class="container hero-unit">
	<div class="row">
		<div class="col-md-12">
			<h1>About Gateway Gamer</h1>
			<h2>Mission Statement</h2>
			<p>
			Gateway Gamer is your resource dedicated to the growth of eSports by providing the necessary 
			structure to the industry through the centralization of free and easily accessible information.
			</p>

			<h2>History</h2>
			<p>
			Gateway Gamer started off as idea to help people connect at the grassroots level in the
			gaming and "nerd" culture. From this central idea, the concept of having a centralized 
			place for gamers to interact and find information was born. Taking over a year to find 
			the right talent and direction for the business, Gateway Gamer soon came into fruition in 
			the form of a website. After feedback and fine tuning from the community, GG was fully 
			launched. With your help, our goal is to grow the entire culture surrounding gaming from 
			the grassroots up, providing anyone the opportunity to connect and get involved in the 
			industry both on a local and national level.
			</p>

			<h2>Contact Us</h2>
			<p>Want to work with us or get in touch? Send us an email with your name and topic here!</p>

			<h2>Feedback</h2>
			<p>Have feedback about the site or the company? <a href="https://docs.google.com/forms/d/1c4jtAzaZ0hI1Nc_Lw1L7vwiP8xpacXKQEwMoVFyStKE/viewform?usp=send_form" class="feedback">Fill out this form</a>
		    for us so we can work on it ASAP!</p>
	    </div>
    </div>



 </div>