<div class="container hero-unit" id="map-container">
    <div class="row">
        <div class="col-md-12">
            <div id="the_map"></div>
            <%= link_to("Create an Event", "/events/new", :class=>"new-event btn-primary") %>
        </div>
    </div>


</div>






<div class="container buckets">
    <div class="row">
        <div class="col-md-4">
            <div class="inner hero-unit">
                <h2>Learn More</h2>
                <p>Gateway gamer is [insert lots of other content here and some other content, maybe some stuff about things and stuff.]</p>
                <a href="/about-us">About Us</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner hero-unit">
                <h2>View Events</h2>
                <p>See all of the events in a sortable, filterable list!</p>
                <a href="/events">Events</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner hero-unit">
                <h2>Create an Account</h2>
                <p>Before you can create your own events, you'll need to create an account. Don't worry, it's painless!</p>
                <a href="/users/sign_up">Register</a>
            </div>
        </div>
    </div>

</div>













<script type="text/javascript">
    var raw_markers = <%=raw @json.to_json %>;
</script>