<div class="container hero-unit">

    <div id="the_map"></div>
</div>

<div class="container hero-unit">




    <div class="row">
        <div class="col-md-12">
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h1> Esports Events</h1>


            <div>

                <h2>Live Events</h2>

            </div>




            <div>
                <h2>Online</h2> 


                <% @locations.each do |event|%>
                    <% if event.dayof + (7) >=Date.today and event.isOnline %>
                        <%= link_to event.title, event %>:<%= event.dayof %>
                        <br />
                    <% end %>
                <% end %>
            </div>

        </div>


    </div>










</div>



<script src="activatables.js" type="text/javascript"></script>
<script type="text/javascript">
    activatables('page', ['page-1', 'page-2'  ]);
</script>








<script type="text/javascript">
    var raw_markers = <%=raw @json.to_json %>;
</script>