<div class="container hero-unit" id="map-container">
    <div class="row">
        <div class="col-md-12">
            <div id="the_map"></div>
            <%= link_to("Create an Event", "/events/new", :class=>"new-event btn-primary") %>
        </div>
    </div>


</div>






<div class="container buckets">
    <div class="row">
        <div class="col-sm-4 bucket">

            <div class="inner">
            <a class="" href="/about">
                About Us
            </a>
            </div>
        </div>
        <div class="col-sm-4 bucket">
            <div class="inner">
            <a class="" href="/events/new">
                Create an<br/>event
            </a>
            </div>
        </div>
        <div class="col-sm-4 bucket">
            <div class="inner">
            <a class="" href="https://docs.google.com/forms/d/1c4jtAzaZ0hI1Nc_Lw1L7vwiP8xpacXKQEwMoVFyStKE/viewform">
                Feedback
            </a>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />












<script type="text/javascript">
    var raw_markers = <%=raw @json.to_json %>;
</script>