

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background:#020611;
	color:white;
	background:url(../img/common/fancy_background.jpg) 0px 100px no-repeat black;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
}
input{
	color:black;
}


h1{
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
	color:#A5B0FF;
	margin-bottom:20px;
	margin-top:0;
}
h2{
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
	color:#DF9860;
}
h3{
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
}

a{
	color:#DF9860;
}
a:hover{
	color:#EBC2A2;
}
.navbar{
	margin-bottom:0;
}
.navbar-inverse{
	background:#020406;
}

.navbar-collapse{

}
.navbar-brand{
	height:auto;
	float:none;
	display:block;
	margin:0;
}
.navbar-nav{
	margin:0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin:0;
}
.navbar-form{
	margin:25px 0;
}


.navbar-right{
	margin-top:10px;
}
.navbar-right li a{
	color:white;
}
.navbar-right .social a{
	overflow:hidden;
	width:18px;
	display:block;
}
.navbar-right li{
	list-style:none;
	float:left;
	padding-right:10px;

}
.navbar-right li img{
	width:100%;
	margin-right:5px;
}


#the_map{
	width:100%;
	height:600px;
	margin-top:20px;
}


.hero-unit{
	padding-bottom:20px;
	margin-top:20px;
	background:rgba(0,0,0,.7);
	min-height:200px;
}
.content{
}



.box{
}


.registration{


}
.registration .btn-primary{
	margin-bottom:20px;
	margin-top:10px;
}
.registration label{
	font-size:20px;
}
.registration .form-group{
	margin-bottom:10px;
}






.time-select select{
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#map-container{
	position:relative;

}
#map-container .new-event{
	position:absolute;
	top:26px;
	right:120px;
	padding:10px;

}




.info-window{
	color:black;
	width:260px;
	text-align:center;
}
.info-window h1{
	font-size:20px;
	margin-top:0;
	margin-bottom:5px;
	color: #A5B0FF;
}
.info-window h1 a{
 color:#A5B0FF;
}
.info-window p{
	margin-bottom:5px;
}
.info-window .activities img{
	margin:5px;
	width:50px;

}


.date{

	background:#2b435e;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-align:center;
	width:60px;
	height:60px;
	font-size:16px;
	padding:5px;
	margin-right:20px;
	display:inline-block;
}
.date hr{
	margin:3px;
}


.event-row .date{
	float:right;


}


.event-form .radio{

	float:left;
}
.event-form .radio input{
}
.event-form  .icon{
	width:70px;
	background:#2b435e;
	padding:4px;
	margin-right:5px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}



.event-row{
	margin-bottom:10px;
	background:rgba(0,0,0,.7);

}
.event-row .activities{
	margin-bottom:10px;
}
.event-row .activities img{
	width:50px;
	margin-right:10px;
}

.event-row .top{

}
.event-row h2{
	color:white;
	padding-bottom:5px;
	margin:0;

	margin-bottom:10px;
	margin-top:10px;
	font-size:24px;
	border-bottom:solid 1px white;
}
.event-row h2 a{
	color:white;
}
.event-row h3{
	margin:0;
	margin-bottom:5px;
	font-size:15px;

}
.event-row .type-image{
	width:100%;

}


.black-box{
	background:rgba(0,0,0,0.7);
	padding:10px;
}

.event-details .side-bar{
		border:solid 1px #666;
	padding:10px;
}
.event-details.top{
	margin-bottom:20px;
	overflow:hidden;
}
.event-details .title{
	overflow:hidden;
	clear:both;
	margin-bottom:10px;
}
.event-details h1{
	margin-bottom:0;
}
.event-details h2{
	text-transform: capitalize;
	margin-top:5px;
}
.event-details.hero-unit{
	min-height:0;
}
.event-details .event-image img{
	width:100%;
}
.event-details h4{
	color:#A5B0FF;
	border-bottom:solid 1px #CCC;
	margin-top:5px;
	padding-bottom:5px;
}

.event-details .event-type {

	float:right;
	border-left:solid 1px #999;
	padding-right:5px;
}
.event-details .event-type img{
	width:60px;
}
.event-details .event-activities{
	float:right;
	padding-left:5px;

}
.event-details  .activity{
	float:right;
}
.event-details  .activity img{
	width:60px;

}
.event-details .date{

	background:#2b435e;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-align:center;
	width:60px;
	height:60px;
	font-size:16px;
	padding:5px;
	float:left;
	margin-right:20px;
	display:inline-block;
}

.event-details h3{
	margin-top:0;
}

.report
{
}



.user{
	margin-bottom:10px;
	overflow:hidden;


}


.user .gravatar{
	float:right;
}
.user .name{
	margin-top:0;
	margin-top:10px;

}
.user .report{
	float:right;
}




.user-profile{


}
.user-profile h1{
padding-top:5px;
}
.user-profile .gravatar{
	float:left;
	padding-right:10px;
}
.user-profile .report{
	float:right;
}
.button-red{
	color:white;
	cursor:pointer;
border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}

.button-red:hover{
	color:white;
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
 background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
 background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}

.button-blue{
	color:white;
	cursor:pointer;
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button-blue:hover{
	color:white;
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}