<div class="user-form">
                <%= form_for(@user, :html => {:class => "edit_user form-horizontal", :role => "form"}) do |f| %>






                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <%= f.submit 'Update Profile' ,   class: "btn btn-large btn-primary" %>
                        </div>
                    </div>

                    


                <% end %>

</div>