<div class='container hero-unit'>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h1>Edit Profile</h1>
        </div>


        <% if current_user != nil && current_user.id == @user.id %>
            <div class="col-md-12">

                <%= render 'form' %>

                
            </div>
        <% else %>

            <div class="col-md-10 col-md-offset-2">
                <p>You do not have permission to edit this profile</p>
            </div>

        <% end %>

    </div>
</div>




