 <div id="filterrific_results">



<div class="row">
    <div class="col-md-12">
        <%= page_entries_info events %>
    </div>
</div>
 

 <% events.each do |event| %>

<div class="row event-row">
    <div class="top">

        <div class="col-md-12 top">
            <h2><%= link_to(event.title, "/events/"+event.id.to_s, :class=>"") %></h2>
        </div>



        

        <div class="col-md-3">
            <h3>Address:</h3> 
            <% if event.address != "" %>
                <%= event.address %>
            <% else %>
                No address provided
            <% end %>


            <h3>Created by: </h3>
            <%= link_to event.user.username, '/users/' + event.user.id.to_s %>
        </div>
        <div class="col-md-2">
            <h3>Age Restriction</h3>
            <p>
                <% if event.age.to_s != "" %>
                    <%= event.age.to_s %>
                <% else %>
                    None
                <% end %>
            </p>
            <p><%= link_to("Event Details", "/events/"+event.id.to_s, :class=>"") %></p>
        </div>
        <div class="col-md-6">
            <div class="date">
                <%= event.dayof.month %>/<%= event.dayof.day%>
                
                <% if event.end_date && event.dayof != event.end_date %>
                    <hr />
                    <%= event.end_date.month %>/<%= event.end_date.day%>
                <% end %>
            
            </div>
            <div class="activities">
                <% event.eventActivityObjects.each do |event_activity| %>
                    <%= image_tag event_activity.icon.url(:thumb) %>
                <% end %>
            </div>
            <div class="types">
                <% event.eventTypeObjects.each do |event_type| %>
                    <%= image_tag event_type.icon.url(:thumb) %>
                <% end %>
            </div>

        </div>

        <div class="col-md-12">
            <!-- <%= event.desc %> -->

        </div>
    </div>


    <div>
        <div class="col-md-12">


        </div>
    </div>

</div>


<% end %>

<div class="row">
    <div class="col-md-12">
        <%= page_entries_info events %>
    </div>
</div>

</div>
