
<div class='container hero-unit'>
	<div class="row">
	    <% if current_user != nil %>

	        <section class="col-md-12 events-created">
				<h1>My Events</h1>
	            <div class="event-list">

	                <%= render(
	                  partial: 'events/listing',
	                  locals: { events: current_user.events.page(params[:page]) }
	                ) %>
	            
	            </div>
	        </section>
		<% else %>
			<div class="col-md-12">
				<h2>My Events</h2>
				<p>You must <%= link_to "sign in", new_user_session_path %> to view your events an event.</p>
			</div>
		<% end %>
	</div>
	
	
	
</div>
